@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e1eff1;
    letter-spacing: 0.5px;
}
.nav-logo{
    padding-left:30px;
    font-size:35px;
}
.card-titles{
    font-size:200px;
}
h3{
    font-family: 'Karla', sans-serif;
}
.brand-logo{
    font-family: 'Karla', sans-serif;
    margin-left:20px;
}
.flashes h4{
    line-height: 2;
}
.btn-small{
    margin:5px;
}
.collapsible-header .col strong{
    margin:5px;
    line-height:42px;
}
main {
    flex: 1 0 auto;
}
.product_name{
    font-size:30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.slider{
    margin-top:50px;
}
.background-main{
    background-color: #eceff1;

}
hr{
  clear: both;
}