{% extends "base.html" %}
{% block content %}


<h3 class="black-text center-align">Recommend Product</h3>
<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{url_for('add_recommendation')}}">
        {{ form.hidden_tag() }}
        <!-- category -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix teal-text lighten-2"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{category.category_name}}">{{category.category_name}}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Product Category</label>
            </div>
        </div>
        <!-- product name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix teal-text lighten-2"></i>
                {{ form.product_name.label }}
                {{ form.product_name }}
            </div>
        </div>
        <!-- product description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix teal-text lighten-2"></i>
                {{ form.product_description.label }}
                {{ form.product_description }}
            </div>
        </div>
        <!-- product link -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-link prefix teal-text lighten-2"></i>
                {{ form.product_link.label }}
                {{ form.product_link }}
            </div>
        </div>
                <!-- product image -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-images prefix teal-text lighten-2"></i>
                {{ form.product_image.label }}
                {{ form.product_image }}
            </div>
        </div>
                        <!-- product price -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-money-bill-wave prefix teal-text lighten-2"></i>
                {{ form.product_price.label }}
                {{ form.product_price }}
            </div>
        </div>
        <!-- is hidden gem toggle-->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-piggy-bank prefix teal-text lighten-2"></i>
                    <label for="is_hidden_gem">
                        <input type="checkbox" id="is_hidden_gem" name="is_hidden_gem">
                        <span class="lever"></span>
                        Is Under £20
                    </label>
                </div>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                {{ form.submit(class="col s12 btn-large white-text")}}
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
            </div>
        </div>
    </form>
</div>

{% endblock %}