{% extends "base.html" %}
{% block content %}
<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://images.pexels.com/photos/4005487/pexels-photo-4005487.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"> 
      </li>
    </ul>
</div>
<div class="row">
    <div class="col s12 m12">
        <h1>Date Night Gifts</h1>
        <p>Need inspiration for a gift for that special someone?<br> Have a look at what our experts recommend to impress your partner.</p>
    </div>
</div>
<hr>
<!-- product 1 -->

<div class="row">
    <div class="home-text col s12 m6">
        <h2>Rose Bear</h2>
        <p>This beautiful rose bear is a perfect romantic gift for your partner! <br><br>Extremely unique and will blow them away</p>
    </div>



    <div class="col s12 m5">
        <div class="card">
            <div class="card-image">
                <img height="400px"
                    src="https://images-na.ssl-images-amazon.com/images/I/91bGzG97Y7L._AC_SL1500_.jpg">
                <a href="https://www.amazon.co.uk/Rose-Bear-Flower-Anniversarys-Included/dp/B085XT39ZX/ref=sr_1_5?dchild=1&keywords=rose+bear&qid=1614876066&s=kitchen&sr=1-5"
                    class="btn-floating halfway-fab waves-effect waves-light red"><i class="fas fa-plus"></i></a>
            </div>
            <div class="card-content">
                <h3 class="black-text card-title">Rose Bear</h3>
                <p></p>
            </div>
        </div>
    </div>


    <!-- tech card 2 -->





    <h3></h3>
    <hr>



    <!-- card 3 -->
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img height="10%"
                    src="https://images-na.ssl-images-amazon.com/images/I/71cHdR85H3L._AC_SL1500_.jpg">

                <a href="https://www.amazon.co.uk/Yankee-Candle-Scented-Hideaway-Collection/dp/B07XZFWY7K/ref=sxin_10_lp-trr-2-eu_9db6826097d0d42c75a906a72d3b31d38c10b16b?cv_ct_cx=yankee+candle&dchild=1&keywords=yankee+candle&pd_rd_i=B07XZFWY7K&pd_rd_r=fc750bb2-bfe7-453c-a6f4-3aed4e212f7e&pd_rd_w=zCmLS&pd_rd_wg=t9WG7&pf_rd_p=9638ffde-55fa-4ebc-ab40-e4183632410d&pf_rd_r=S8HCHKNP4JH296J6XFK7&qid=1614875501&sr=1-2-439ac954-ad46-4ba0-bd86-480f8aab80ed"
                    class="btn-floating halfway-fab waves-effect waves-light red"><i class="fas fa-plus"></i></a>
            </div>
            <div class="card-content">
                <h3 class="black-text card-title">Yankee Candle</h3>
            </div>
        </div>
    </div>

    <div class="right-align home-text col s12 m6">
        <h2>Yankee Candle</h2>
        <p>Something you can never go wrong with is a nice smelling gift!<br><br>Want to go the safe route? Your partner is guarenteed to love these candles, their popularity is incredible and we can smell why!</p>
    </div>
</div>

{% endblock %}