{% extends "base.html" %}
{% block content %}
<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://images.pexels.com/photos/1457842/pexels-photo-1457842.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"> 
      </li>
    </ul>
</div>
<div class="row">
    <div class="col s12 m12">
        <h1>Make your house your home</h1>
        <p>Been wanting to give your home a little upgrade?<br>Have a look at what our experts recommend you to buy to upgrade your home!</p>
    </div>
</div>
<hr>
<!-- card 1 -->
<div class="row">
    <div class="home-text col s12 m6">
        <h2>Corner Sofa</h2>
        <p>This chiq sofa is the perfect upgrade to your living room for an amazing price!</p>
    </div>
    <div class="col s12 m5">
        <div class="card">
            <div class="card-image">
                <img height="400px"
                    src="https://images-na.ssl-images-amazon.com/images/I/71MwmSGOHPL._AC_SL1000_.jpg">
                <a target="_blank" href="https://www.amazon.co.uk/Intex-68575-75047-Valve-Corner/dp/B00O8RZ56K/ref=sr_1_6?dchild=1&keywords=furniture&qid=1616410173&sr=8-6"
                    class="btn-floating halfway-fab waves-effect waves-light red"><i class="fas fa-plus"></i></a>
            </div>
            <div class="card-content">
                <h3 class="black-text card-title">Corner Sofa</h3>
                <p></p>
            </div>
        </div>
    </div>
    <h3></h3>
    <hr>
    <!-- card 2 -->
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img height="10%"
                    src="https://images-na.ssl-images-amazon.com/images/I/61f8ygcU1fL._AC_SL1200_.jpg">

                <a target="_blank" href="https://www.amazon.co.uk/Panana-Sideboard-Cupboard-Furniture-130x35x95cm/dp/B08KZG6WJH/ref=sr_1_6?dchild=1&keywords=furniture&qid=1616410275&sr=8-6"
                    class="btn-floating halfway-fab waves-effect waves-light red"><i class="fas fa-plus"></i></a>
            </div>
            <div class="card-content">
                <h3 class="black-text card-title">Modern Cupboard</h3>
            </div>
        </div>
    </div>
    <div class="right-align home-text col s12 m6">
        <h2>Modern Cupboard</h2>
        <p>Have a look at this new cupboard to organise your belongings!<br><br>Features a beautiful design and a really cool led light to change the mood of the room!</p>
    </div>
        <h3></h3>
    <hr>
    <!-- card 3 -->
    <div class="home-text col s12 m6">
        <h2>Desk Lamp</h2>
        <p>This modern desk lamp has so many features! <br><br>Includes adjustable light modes and a wireless phone charger, perfect for saving space on your desk!</p>
    </div>
    <div class="col s12 m5">
        <div class="card">
            <div class="card-image">
                <img height="400px"
                    src="https://images-na.ssl-images-amazon.com/images/I/61xCMTzJxNL._AC_SL1500_.jpg">
                <a target="_blank" href="https://www.amazon.co.uk/Wireless-Charging-Dimmable-Brightness-Eye-Caring/dp/B08PFHRGX5/ref=sr_1_3_sspa?dchild=1&keywords=lamp&qid=1616410959&sr=8-3-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFLTUlKOTAwUE43VkkmZW5jcnlwdGVkSWQ9QTA3MjgzMDgxQjBKVEhMODZKQThJJmVuY3J5cHRlZEFkSWQ9QTA3Nzk2MzMzOUJXQk9aREg5VEQmd2lkZ2V0TmFtZT1zcF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl"
                    class="btn-floating halfway-fab waves-effect waves-light red"><i class="fas fa-plus"></i></a>
            </div>
            <div class="card-content">
                <h3 class="black-text card-title">Desk Lamp</h3>
                <p></p>
            </div>
        </div>
    </div>
    <h3></h3>
    <hr>
    <!-- card 4 -->
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img height="500px"
                    src="https://images-na.ssl-images-amazon.com/images/I/711H0K6HePL._AC_SL1500_.jpg">

                <a target="_blank" href="https://www.amazon.co.uk/Russell-Hobbs-RHTTLF1B-Energy-Rating/dp/B00FLTE8OE/ref=sr_1_4?dchild=1&keywords=fridge&qid=1616411147&sr=8-4"
                    class="btn-floating halfway-fab waves-effect waves-light red"><i class="fas fa-plus"></i></a>
            </div>
            <div class="card-content">
                <h3 class="black-text card-title">Mini Fridge</h3>
            </div>
        </div>
    </div>
    <div class="right-align home-text col s12 m6">
        <h2>Mini Fridge</h2>
        <p>Have a mancave at home?<br><br>This mini fridge can store all your favourite drinks to have on the go!</p>
    </div>
        <h3></h3>
    <hr>
</div>


{% endblock %}