{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h3 class="center-align black-text ">
                Most Popular Articles
            </h3>
        </div>
        <hr>

  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img height="" src="https://images.pexels.com/photos/4005487/pexels-photo-4005487.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <span class="card-title">Perfect Gift Ideas For Your Date</span>
        </div>
        <div class="card-content">
          <p>Have a look at our top recommendations for gifts for your partner!</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('date_article')}}">View Article</a>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="https://images.pexels.com/photos/4684266/pexels-photo-4684266.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <span class="card-title">Birthday Gift Ideas</span>
        </div>
        <div class="card-content">
          <p>Check out our experts top birthday gift ideas</p>
        </div>
        <div class="card-action">
          <a href="#">View Article</a>
        </div>
      </div>
    </div>
  </div>

      <div class="row">
        <div class="col s12 m8">
            <h3 class="left-align black-text">
                Upcoming Events <i class="far fa-clock"></i>
            </h3>
            <p class="left-align">
                Check Out our gift recommendations for upcoming events!
            </p>
        </div>
        <hr>

        <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img height="" src="https://images.pexels.com/photos/4005487/pexels-photo-4005487.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <span class="card-title">Perfect Gift Ideas FOr Your Date</span>
        </div>
        <div class="card-content">
          <p>Have a look at our top recommendations for gifts for your partner!</p>
        </div>
        <div class="card-action">
          <a href="#">View Article</a>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="https://images.pexels.com/photos/4684266/pexels-photo-4684266.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <span class="card-title">Birthday Gift Ideas</span>
        </div>
        <div class="card-content">
          <p>Check out our experts top birthday gift ideas</p>
        </div>
        <div class="card-action">
          <a href="#">View Article</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
        <div class="col s12">
            <h3 class="right-align black-text">
                Upcoming Events <i class="far fa-clock"></i>
            </h3>
            <p class="right-align">
                Check Out our gift recommendations for upcoming events!
            </p>
        </div>
        <hr>

        <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img height="" src="https://images.pexels.com/photos/4005487/pexels-photo-4005487.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <span class="card-title">Perfect Gift Ideas FOr Your Date</span>
        </div>
        <div class="card-content">
          <p>Have a look at our top recommendations for gifts for your partner!</p>
        </div>
        <div class="card-action">
          <a href="#">View Article</a>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="https://images.pexels.com/photos/4684266/pexels-photo-4684266.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <span class="card-title">Birthday Gift Ideas</span>
        </div>
        <div class="card-content">
          <p>Check out our experts top birthday gift ideas</p>
        </div>
        <div class="card-action">
          <a href="#">View Article</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}