{% extends "base.html" %}
{% block content %}
<!-- Hero Image -->
<div class="slider">
   <ul class="slides">
      <li>
         <img src="https://images.pexels.com/photos/3360204/pexels-photo-3360204.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Man on laptop"> 
      </li>
   </ul>
</div>
<div class="row">
   <div class="col s12 m12">
      <h1>Improve your setup</h1>
      <p>Found yourself working from home recently?<br>Have a look at what our experts advise you to use to upgrade your setup.</p>
   </div>
</div>
<hr>
<!-- card 1 -->
<div class="row">
   <div class="home-text col s12 m6">
      <h2>Joiscope Office Desk</h2>
      <p>This desk features an ideal stand for your computer as well as a stable secure design! <br><br>Features a beautiful wooden finish too!</p>
   </div>
   <div class="col s12 m5">
      <div class="card">
         <div class="card-image">
            <img
               src="https://images-na.ssl-images-amazon.com/images/I/91OCalWfobL._AC_SL1500_.jpg" alt="Office Desk">
            <a target="_blank" href="https://www.amazon.co.uk/JOISCOPE-Computer-Storage-Shelves-Industrial/dp/B08N53R82T/ref=sr_1_3_sspa?dchild=1&keywords=desk&qid=1616408503&sr=8-3-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExMkxJNjQ1Q1hSTDlXJmVuY3J5cHRlZElkPUEwMzk1OTEwSUZIR1BZU0dOQ1FZJmVuY3J5cHRlZEFkSWQ9QTA2NDUzNjBMMTAxV0dJSzhWUDgmd2lkZ2V0TmFtZT1zcF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl"
               class="btn-floating halfway-fab waves-effect waves-light red"><i class="fas fa-plus"></i></a>
         </div>
         <div class="card-content">
            <h3 class="black-text card-title">Office Desk</h3>
            <p></p>
         </div>
      </div>
   </div>
   <h3></h3>
   <hr>
   <!-- card 2 -->
   <div class="col s12 m6">
      <div class="card">
         <div class="card-image">
            <img 
               src="https://images-na.ssl-images-amazon.com/images/I/516-RziEMQL._AC_SL1000_.jpg" alt="Usb Hub">
            <a target="_blank" href="https://www.amazon.co.uk/Anker-4-Port-Macbook-Surface-Notebook/dp/B00Y25XFGK/ref=sr_1_3?dchild=1&keywords=usb+hub&qid=1616408643&sr=8-3"
               class="btn-floating halfway-fab waves-effect waves-light red"><i class="fas fa-plus"></i></a>
         </div>
         <div class="card-content">
            <h3 class="black-text card-title">USB Hub</h3>
         </div>
      </div>
   </div>
   <div class="right-align home-text col s12 m6">
      <h2>USB Hub</h2>
      <p>Running out of room for your keyboards and mouses?<br><br>This USB Hub will solve that for you offering over extra super fast USB 3.0 ports to suit all your needs!</p>
   </div>
   <h3></h3>
   <hr>
   <!-- card 3 -->
   <div class="home-text col s12 m6">
      <h2>Desk Mat</h2>
      <p>Been struggling with having a small mouse mat? <br><br>THis mat turns your whole desk into a mouse mat, protects against spillages and stains too!</p>
   </div>
   <div class="col s12 m5">
      <div class="card">
         <div class="card-image">
            <img 
               src="https://images-na.ssl-images-amazon.com/images/I/71ng8QuK-NL._AC_SL1500_.jpg" alt="Desk Mat">
            <a target="_blank" href="https://www.amazon.co.uk/Knodel-Leather-Blotter-Waterproof-Dual-Sided/dp/B07JVZTP62/ref=sr_1_2_sspa?dchild=1&keywords=office&qid=1616409002&sr=8-2-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFSQkRNUjhTM1VPRkImZW5jcnlwdGVkSWQ9QTEwMDYyOTAzTTUzUU9BWjhKNTNOJmVuY3J5cHRlZEFkSWQ9QTA5NjEyMTQyWUpMVEJIM0U1UVVBJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ=="
               class="btn-floating halfway-fab waves-effect waves-light red"><i class="fas fa-plus"></i></a>
         </div>
         <div class="card-content">
            <h3 class="black-text card-title">Desk Mat</h3>
            <p></p>
         </div>
      </div>
   </div>
   <h3></h3>
   <hr>
   <!-- card 4 -->
   <div class="col s12 m6">
      <div class="card">
         <div class="card-image">
            <img 
               src="https://images-na.ssl-images-amazon.com/images/I/71MlEx6XePL._AC_SL1500_.jpg" alt="Office Chair">
            <a target="_blank" href="https://www.amazon.co.uk/COMHOMA-Computer-Ergonomic-Conference-Executive/dp/B0829R19YZ/ref=sr_1_5?dchild=1&keywords=desk+chair&qid=1616409618&sr=8-5"
               class="btn-floating halfway-fab waves-effect waves-light red"><i class="fas fa-plus"></i></a>
         </div>
         <div class="card-content">
            <h3 class="black-text card-title">Office Chair</h3>
         </div>
      </div>
   </div>
   <div class="right-align home-text col s12 m6">
      <h2>Office Chair</h2>
      <p>Everyone needs a comfy chair for their work at home<br><br>This chair is very highly rated, great value for money and helps support your posture</p>
   </div>
   <h3></h3>
   <hr>
</div>
{% endblock %}